#body1{
    background-color: orange;
}
#body2{
    background-color: black;
    color: white;
}
#body3{
    background-color: gold;
}
#body4{
    background-color: black;
    color: red;
}
#body5{
    text-align: center;
    background-color: lightblue;
}
#body6{
    text-align: center;
    background-color: lightgreen;
}
#body7{
    text-align: center;
    background-color: cornflowerblue;
}
#heading3{
    color: yellow;
    background-color: black;
}
.h1{
    text-align: center;
}
.paragraph11{
    background-color: rgb(101, 223, 101);
}
.bodyindex{
    background-color: darkcyan;
}
.h1animation{
    text-align: center;
}
.h3animetion{
    text-align: center;
}
.bodyanimation{
    background: radial-gradient(circle,rgb(44, 161, 97),rgb(32, 65, 212),rgb(26, 155, 187),rgb(10, 211, 177));
    // background: url("../image/Best-Animation-Movies.jpg");
    // background-size: cover;
}
.h1inside{
    text-align: center;
}
.p1a{
    text-align: center;
    background-color: rgb(101, 223, 101);
}
.heading3inside{
    text-align: center;
}
#bodyinside{
    background: linear-gradient(45deg,darkblue,purple,rgb(100, 5, 145),blue,rgb(18, 224, 28),yellow);
}
#h1rata{
    text-align: center;
}
.h1lionking{
    text-align: center;
}

#bodylionking{
    background: linear-gradient(orange,white,lightblue,);
}
#h1toystory{
    text-align: center;
}
.tabletoy{
    width: 80%;
    & ,
    & tr,
    & th,
    & td
    {
        border: 1px solid black;
        border-collapse: collapse;
    }
}
.paragraphcenter{
    text-align: center;
}
.paragraphcenter:hover{
    color: red;
    text-decoration: underline;
}
.tdbg-green{
    background-color: green;
}
.tdbg-red{
    background-color: rgb(206, 52, 52);
}
.theadgrey{
    background-color: grey;
}
#bodytoy{
    background: linear-gradient(lightgreen,pink,white,rgb(57, 68, 68),);
}
.tableinside{
    width: 80%;
    & ,
    & tr,
    & th,
    & td
    {
        border: 2px solid pink;
    }
    & th:hover{
        background-color: cadetblue;
    }
    & tr:hover{
        background-color: darkblue;
    }
}
.tableinside2{
    width: 80%;
    & ,
    & tr,
    & th,
    & td
    {
        border: 2px solid greenyellow;
    }
    & a:hover{
        color: whitesmoke;
        text-decoration: underline;
    }
    & td:hover{
        background-color: whitesmoke;
    }
}
.tablerata{
    width: 80%;
    & ,
    & tr,
    & th,
    & td 
    {
        border: 2px solid black;
    }
    & thead{
        background-color: black;
        color: white;
    }
    & td:first-child{
        background-color: black;
        color: white;
    }
}
.p1cinama{
    background-color: dodgerblue;
    color: black;
    text-align: center;
}
.text-sky-600s{
    text-align: center;
    color: rgb(32, 116, 150);
}
.imgsenter{
    float: left;
}
.tableshowshank{
    width: 80%;
    & ,
    & tr,
    & th,
    & td
    {
        border: 2px solid black;
        border-collapse: collapse;
    }
    & td:active{
        background-color: white;
        color: white;
    }
}
.h2cinamafilm{
    text-align: center;
}